.tag {
    background-color: #c4c4c4;
    padding: 5px;
    font-size: .8rem;
    border-radius: 4px;
    min-height: 22px;
}
.tag a {
    text-decoration: none;
}
.tag.dummy {
    position: relative;
    overflow: hidden;
}
.tag.dummy:after {
    content: '';
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(63deg, rgba(196,196,196,1) 0%, rgba(122,122,122,1) 48%, rgba(122,122,122,1) 52%, rgba(196,196,196,1) 100%);
    animation: dummyTag 4s infinite;
}
@keyframes dummyTag {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

